.accueil {
    margin-top: 115px;
    text-align: center;
}
.accueilHome {
    width: 100%;
    padding: 150px 0 0 0;
}

.accueilHome h1,
.accueilHome p {
    padding: 50px;
    color: rgb(248, 235, 235);
    text-shadow: -1px -1px 0 black,
        1px -1px 0 rgb(97, 93, 59),
        -1px 1px 0 rgb(63, 60, 19),
        1px 1px 0 rgb(26, 25, 24);
}
.accueilHome h1 {
    letter-spacing: 10px;
    font-size: 100px;
}
.accueilHome p {
    letter-spacing: 5px;
    font-size: 20px;
}
.accueilHome div > div {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.accueilHome div > div  button {
    padding: 10px;
    color: rgb(15, 15, 15);
    border-radius: 10px;
    background-color: #fad714;
    border: 2px solid rgba(219, 173, 11, 1);
    box-shadow: -3px -3px rgb(188, 189, 164);
}
.accueilHome div > div  button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(149, 150, 106);
}
.accueilHome div {
    text-align: center;
}

/*************************** RESPONSIVE ***************************/
@media screen and (max-width: 414px) {
    .accueilHome h1,
.accueilHome p {
    padding: 0px;
}
}
@media screen and (max-width: 414px) {
    .accueilHome {
        padding: 0;
    }
    .accueilHome h1 {
        letter-spacing: 5px;
        font-size: 80px;
    }
    .accueilHome p {
        letter-spacing: 3px;
        font-size: 15px;
        font-weight: bold;
    }
    .accueilHome h1,
.accueilHome p {
    padding: 30px;
}
}
