.allCartes {
    margin-top: 50px;
    display: block;
    justify-content: center;
    text-align: center;
}

.allCartes h1 {
    padding: 20px 0 0;
}

.allCartes ul li {
    background-color: black;
    margin: 60px 20px;
    border: 4px solid #3107cc;
    color: #fcfcfb;
}

.menuContainer {
    display: flex;
    justify-content: center;
}

.menuRight,
.menuLeft,
.MenuCenter {
    text-align: center;
}

.menuRight h2,
.menuLeft h2,
.MenuCenter h1 {
    padding: 10px;
}
.MenuCenter article img {
    margin-top: 20px;
}
.menuRight div {
    padding: 10px;
}

.menuRight div p {
    padding: 2px;
}

.menuLeft div {
    padding: 5px;
}

.allCartes h2 {
    color: #fad714;
}

.verticalLine {
    display: block;
    width: 50px;
    background-color: rgb(236, 199, 62);
    height: 4px;
    margin: 5px;
}

.sauce {
    color: white !important;
    /* margin: -20px; */
    letter-spacing: 100px;
    text-indent: 100px;
}

.souceList {
    display: flex;
    gap: 10px;
    padding: 10px 0 30px;
    justify-content: center;
}

.barAline {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.smallMenus {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.smallMenus div {
    margin: 8px;
}

.tacosMenu div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.menuRight,
.menuLeft {
    border: 3px dotted #fad71448;
    margin: 20px;
    padding: 20px;
    width: 25%;
}

.menuLeft article {
    padding: 10px;
}

.menuLeft span {
    color: #fad714;
}

.ingredient,
.supp {
    color: rgba(46, 251, 140, 1);
    font-size: 12px;
}

.supp {
    padding-top: 30px;
}

.MenuCenter {
    width: 40%;
}

.halalLogo {
    height: 70px;
}

.menusAside {
    display: flex;
}

.menuLeft div,
.menuRight div {
    display: flex;
    justify-content: space-between;
}

.price {
    color: #fad714;
}

.menuLeft div p:first-child,
.menuRight div p:first-child {
    text-align: center;
}
/* sandwichs */
.sandWichesCenter > :nth-child(1),
.sandWichesCenter > :nth-child(2),
.sandWichesCenter > :nth-child(3) {
  padding: 30px;
}

.sandWichesCenter img , .middle img{
    max-height: 400px;
}
.sandwichTacos {
    font-weight: 700;
    font-size: 12px;
}

.smallSandwich>div>div {
    padding: 10px;
    display: flex;
    gap: 80px;
    justify-content: center;
}

.sandwichBarquette {
    display: block !important;
}
.sandwichBarquette > div > :last-child {
    margin-left: 0;
}

/* ********************RESPONSIVE******************* */
@media screen and (max-width: 1024px) {
    .souceList {
        gap: 5px;
        padding: 15px 0 30px;
    }
    .allCartes ul li {
        margin: 30px 20px;
    }
    .allCartes {
        margin-top: 30px;
    }
    .allCartes h1 {
        margin-bottom: 20px;
    }
    .allCartes p {
        font-size: 13px;
    }
    .smallMenus {
        margin-top: 20px;
        gap: 0px;
    }
    .smallMenus div {
        margin: 3px;
    }
    .menuRight div {
        padding: 12px;
    }
    .sandWichesCenter img , .middle img{
        max-height: 180px;
    }
    .asideLeftCenter div {
        padding: 10px;
    }
    .sandwichBarquette div {
        gap: 8px;
    }
    .screen1024 h2 {
        padding: 20px;
    }
    .screen1024 div {
        margin: 20px;
    }
}

@media screen and (max-width: 800px) {
    .souceList p {
        font-size: 10px;
        gap: 3px;
    }
    .allCartes ul {
        padding: 20px;
    }
    .allCartes ul li {
        margin: 0px 0px;
    }
    .allCartes ul li {
        margin-top: 40px;
        padding: 20px;
    }

    .sauce {
        letter-spacing: 30px;
        text-indent: 25px;
    }

    .menuContainer {
        display: block;
    }

    .MenuCenter {
        border: 3px dotted #fad71448;
        margin: 20px;
        padding: 20px;
    }
    .sandwichBorder {
        border: 3px dotted #fad71448;
    }

    .menuRight,
    .MenuCenter,
    .menuLeft {
        width: 100%;
        margin: 30px 0;
    }

    .smallMenus {
        display: block;
        margin: 20px;
    }

    .smallMenus div:first-child {
        margin-top: 40px;
    }

    .smallMenus div:last-child {
        margin-top: 50px;
    }
}

@media screen and (max-width: 414px) {
    .allCartes ul li {
        margin-top: 20px !important;
    }
    .allCartes h1 {
        margin-bottom: 0px;
    }
    .allCartes {
        margin-top: 0px;
    }
    #apropos h2 {
        margin-top: 0px;
    }
    .allCartes h2 {
        font-size: 22px;
    }
    .verticalLine {
        width: 30px;
    }
    .barAline {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    .allCartes p {
        font-size: 15px;
    } 
}

@media screen and (max-width: 375px) {
    .allCartes p {
        font-size: 13px;
    } 
}
